#sidenav {
}

#app {
  display: block;
  height: 100%;
  background: linear-gradient(to bottom, #a3a3a3 0%, #212121 8%, white 100%), url("image/background.jpg") no-repeat center fixed;
  background-blend-mode: overlay;
  background-size: cover;
  min-height: 1400px;
  text-align: center;

  #main {
    position: absolute;
    top: 64px;

    h2 {
      &.lg {
        margin: 30px 120px;
      }
      margin: 20px 10px;
      color: white;
      font-weight: 200;
    }

    .video {
      &.lg {
        min-width: 800px;
        min-height: 454px;
      }
      &.sm {
        min-width: 490px;
        min-height: 320px;
      }
      &.xs {
        min-width: 0;
        min-height: 0;
      }
    }
  }

}
